<nav id="nav-bar">
<div class = "container-fluid">

  <div class="navbar-header">
    <img id="logo" src="/images/logo.png">

  </div>
  <div>

  </div>
    <h1 id=#txt>Maestro</h1>

        <div id="myDropdown" class="dropdown-content">
          <form method="GET" action="/movies/users" >
          <button type=submit>Home</button>
          </form>
          <form method="GET" action="/movies/users/<%=userID%>">
          <button type=submit>Profile</button>
          </form>

          <form method="POST" action="/logout">
           <button type=submit>Logout</button>
          </form>
      </div>
</div>
