<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Research bar</title>
  </head>

  <body>

    <h1>Share your links with us!</h1>
    <form class= "try" action= "/users/link" method="post">
    <input type="text" name="insert" placeholder="insert link here"/>
    <input type="submit" value="Add link">
    </form>


  </body>
</html>
