<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="/styles/search.css" type="text/css" />
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/macky.js"></script>
      <meta charset="UTF-8">
  <title>Search Bar</title>
  </head>
  <body>
  <section>
    <form>
      <textarea name="search" class="searchfield" placeholder="input a tag. Try 'magic' or 'cooking'"></textarea>
    </form>
      <div class="btn"> submit </div>
  </section>

  </body>
</html>
