  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Research bar</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/vendor/jquery.pop.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  <body>
    <div class="container">


    </div>
  <nav id="nav-bar">
    <div class = "container-fluid">




    </div>
  <h1>Maestro</h1>
    <input type="button" class="logout" value="LogOUT"/>
  </nav>
  <div id="mainform">
    <h1>Sharing is Caring</h1>

    <div class="form" id="popup">
      <b>Wecome(back?) to paradise</b><hr/>
      <p id="onclick">Sign In/Sign Up</p>
      <br/>
    </div>

    <div id="contactdiv">
      <form class="form" action="/login" id="contact" method="POST">
        <h3>Login Form</h3>
        <hr/><br/>
        <label>email </label>
        <br/>
        <input type="text" id="email" placeholder="LucyTheGreat"/><br/>
        <br/>
        <label>password : </label>
        <br/>
        <input type="password" id="password"  placeholder="************"/><br/>
        <br/>
        <input type="submit" id="loginbtn" value="Login"/>
        <input type="button" id="cancel" value="Cancel"/>
      </form>
      <form class="form" action="/register" id="login" method="POST">
        <h3>Not part of our awesome team yet?Don't panic!Just register with us!</h3>
        <hr/><br/>
        <label>Name</label>
        <br/>
        <input type="text" id="first_name" name="first_name" placeholder="Lucy"/><br/>
        <label>Last Name</label>
        <br/>
        <input type="text" id="last_name" name="last_name" placeholder="Majestic"/><br/>
        <br/>
        <label>Email</label>
        <br/>
        <input type="text" id="email" name="email" placeholder="Majestic"/><br/>
        <br/>
        <label>password : </label>
        <br/>
        <input type="password" id="password" name="password" placeholder="************"/><br/>
        <br/>
        <input type="submit" id="registerBtn" value="Sign IN"/>
        <input type="button" id="cancel" value="Cancel"/>
        <br/>
        <br/>
      </form>
    </div>
  </div>
</body>
</html>
