<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Input</title>
  </head>
  <body>
    <h3>INPUT NEW LINK HERE</h3>
    <form>
      <textarea placeholder="insert link here"></textarea>
      <textarea placeholder="insert title here"></textarea>
      <textarea placeholder="insert description"></textarea>
      <select name="tags">
        <option value="music">Music</option>
        <option value="magic">Magic</option>
        <option value="javascript">Javascript</option>
        <option value="cooking">Cooking</option>
        <option value="cars">Cars</option>
        <option value="painting">Painting</option>

      </select>



    </form>

  </body>
</html>
