<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search by User</title>
</head>
<body>
    <h1> Search for a user </h1>
    <form action="/" method="POST" style="margin:100px;">
        <input type="text" id="user-id" name="user-id" placeholder="User Name">
        <input type="submit" value="Submit">
    </form>
</body>

</html>
