<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h2>search bar here</h2>
  <form method="get" action="">
    <input type="text" name="search">
    <input type="submit" name="submit">





  </form>
  </body>
</html>
