#inputbox {
  display:none;
  border: solid black;
  width: 480px;
  height:480px;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
  background-color: lightgrey;
  left: 50%;
  top: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  left: 50%;
  top: 50%;
  margin-left:-210px;
  margin-top:-158px;
}

.inputfield {
  margin: 10px;
  padding:2em;
}

p {
    float: left;
    font-size: 12px;
    position: relative;
    bottom: 10px;
}

.inputbtn {
  width: 30px;
  font-size: 10px;
  background-color: grey;
  padding:2em;
  border: ridge;
  border-color: #4f616d;
  padding: 0.5px;
  float: right;
  position: relative;
  margin-right: 15px;

}

.inputbtn:hover {
  background-color: lightgrey;
  cursor: pointer;

}

select {
  margin:10px;
}
