.inputbox {
  border: solid black;
  width: 200px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}

.inputfield {
  margin-left: 10px;
}

p {
    float: left;
    font-size: 12px;
    position: relative;
    bottom: 10px;
}

.inputbtn {
  width: 30px;
  font-size: 10px;
  background-color: grey;

  border: ridge;
  border-color: #4f616d;
  padding: 0.5px;
  float: right;
  position: relative;
  margin-right: 15px;

}

.inputbtn:hover {
  background-color: lightgrey;
  cursor: pointer;

}

select {
  margin-left:10px;
}
