.inputbox {
  border: solid black;
  width: 200px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}

.inputfield {
  margin-left: 10px;
}

p {
    float: left;
    font-size: 12px;
    position: relative;
    bottom: 8px;
}
