body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}


// .container #titleName {
//     padding-top: 20px;
// }


main.container {
  width: 500px;
  height: auto;
  padding: 2em;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
}

footer.container {
  width: 500px;
  height: auto;
  padding: 2em;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
}

div.header {
  width: 500px;
  margin: auto;
}
