body {
  background-image: url("/images/wall.jpeg");
  background-position: 100%;
}

.navbar-fixed-top {
    border-width: 0px;
}



#nav-bar {
    opacity:0.86;
    color:#4A4A4A;
    height: 80px;
    width:100%;
    background-color:#eee;
    padding-left: 2em;
    padding-right: 2em;
}

#logo{
  height:80px;
  width:80px;
  float:left;
}

#nav-bar .logout{
  margin-top: 5px;
  float: right;
  background-color:#BF3EFF;
  border-color: #9932CC;
  height: 70px;
  width:90px;
  border-radius:15%;
  float:left;


}


main.container {
  width: 500px;
  height: auto;
  padding: 2em;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
}

footer.container {
  width: 500px;
  height: auto;
  padding: 2em;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
}

div.header {
  width: 500px;
  margin: auto;
}


#mainform{
  width:960px;
  margin:20px auto;
  padding-top:20px;
  font-family: 'Fauna One', serif;
  display:block;
}


#title{
  text-align: center;
  font-family: 'Fauna One', serif;
  font-size: 100px;
  color:#4a4a4a;
}

h2{
  margin-left: 65px;
  text-shadow:1px 0px 3px gray;
}

h3{
  font-family: 'Fauna One', serif;
  font-size: 20px;
  float:left;
  color:#4a4a4a;

}
.form-group{
  font-family: 'Fauna One', serif;
  font-size:1px;
  color:#4a4a4a;
}

.btn-primary {
  padding:3px;
  cursor:pointer;
  margin-top:120px;
  padding:5px 5px 5px 15px;
  width:70px;
  box-shadow:1px 1px 5px grey;
  border-radius:3px;
  color:#4a4a4a;
  background-color:#eee;
}

button{
  align:center;
}

#onclick{
  font-family: 'Fauna One', serif;
  padding:3px;
  cursor:pointer;
  padding:5px 5px 5px 15px;
  width:70px;
  height:40px;
  box-shadow:1px 1px 5px grey;
  border-radius:15px;
  color:#4a4a4a;
  background-color:#eee;
  font-size: 15px;
  align-text:center;
  float: left;

}

#regBt{
  padding:3px;
  cursor:pointer;
  padding:5px 5px 5px 15px;
  width:70px;
  height:40px;
  box-shadow:1px 1px 5px grey;
  border-radius:15px;
  color:#4a4a4a;
  background-color:#eee;
  float:left;
  font-size: 15px;

}
b{
  font-size:18px;
  text-shadow:1px 0px 3px gray;
}

#popup{

  float:right;


}

.form{

  font-weight:bold;
  width:70px;
  float:right;
  position:relative;
  padding-bottom: 1000px;
  margin-bottom: 1000px;
}

input{
  width:100%;
  height:35px;
  margin-top:5px;
  border:1px solid #999;
  border-radius:3px;
  padding:5px;
}

input[type=button]{
  background-color:#123456;
  border:1px solid white;
  font-family: 'Fauna One', serif;
  font-weight:bold;
  font-size:18px;
  color:white;
  width:49%;
}

textarea{
  width:100%;
  height:80px;
  margin-top:5px;
  border-radius:3px;
  padding:5px;
  resize:none;
}

#contactdiv{
  opacity:0.92;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

#logindiv{
  opacity:0.92;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

#login,#contact{
  width:350px;
  margin:0px;
  background-color:white;
  font-family: 'Fauna One', serif;
  position: relative;
  border: 5px solid rgb(90, 158, 181);
}

.img{
  float: right;
  margin-top: -35px;
  margin-right: -37px;
}

#contact{
  left: 50%;
  top: 50%;
  margin-left:-210px;
  margin-top:-255px;
}

#login{
  left: 50%;
  top: 50%;
  margin-left:-210px;
  margin-top:-158px;
  margin-bottom:120px;
  float:right;
  color:#4a4a4a;
  background-color:#eee;

}

.container{
  background-color: #fff;
  width:400px;
}


.container #titleName{
  padding-top:20px;
}


main.container {
  width: 500px;
  height: auto;
  padding: 2em;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
}

footer.container {
  width: 500px;
  height: auto;
  padding: 2em;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
}

div.header {
  width: 500px;
  margin: auto;
}

c


#like-change{
padding-right: 0.5em;
display: none;
float: right;
color: #00CED1;
}

#like {
  padding-right: 0.5em;
  float: right;
  color: black;
}

.form-control{
  width: 130px;
}

.col-xs-12-col-sm-9{
  margin-top: 120px;

}
